.game-window {
  background-image: url("/TIC-TAC-TOE-PROJECT/images/play-ground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(2, 61, 138, 0.15);
  border: 5px solid #3c096c;
  border-radius: 10px;
  padding: 2rem;

  height: 100%;
  width: 30rem;
  /*  */
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1.8px;
}
.resp-btn {
  color: #70e000;
  /* #ffd60a  -> O */
  /* #70e000  -> X */

  font-size: 6rem;
  background-color: transparent;
  width: 120px;
  height: 24.5%;
  margin: 7px;
  border: none;
  border-radius: 20px;
}
.resp-btn:hover {
  background-color: rgba(61, 36, 106, 0.1);
}
.resp-btn:disabled {
  background-color: transparent;
}
.controls-window {
  display: none;
  margin-top: 1.2rem;
}
.reset-button {
  background-color: transparent;
  border: 5px solid #3c096c;
  color: white;
  height: 3.2rem;
  width: 9rem;
  font-size: 1.3rem;
  border-radius: 50px;
}
.reset-button:hover {
  background-color: #3c096c;
  cursor: pointer;
}
.fa-solid {
  font-size: 1.1rem;
  font-weight: lighter;
}
.score-window {
  text-align: center;
  /*  */
  display: none;
  color: white;
  border: 5px solid #3c096c;
  border-radius: 10px;
  font-size: 1.7rem;
  height: 10rem;
  min-width: 20rem;
  height: fit-content;
  background-color: rgba(251, 133, 0, 0.3);
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 25px 0rem 0 0rem;
}
.score-board {
  font-size: 40px;
  background-color: #3c096c;
  margin-bottom: 15px;
}
.score-x {
  color: black;
  background-color: #70e000;
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1.5rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.score-o {
  color: black;
  background-color: #ffd60a;
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1.5rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.score-draw {
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #c77dff;
  width: 100%;
  display: flex;
  gap: 0.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1.5rem;
}
.game-menu {
  /*  */
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 100%;
}
.menu-title {
  font-size: 2.7rem;
  color: white;
}
.winner-name {
  font-size: 5rem;
  color: white;
  position: relative;
  bottom: 6rem;
}
.menu {
  background-color: rgba(0, 119, 182, 0.6);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  height: 30rem;
  width: 23rem;
  margin-top: 2rem;
  border: 5px solid #3c096c;
  border-radius: 25px;
}
.menu-btn {
  color: white;
  list-style-type: none;
  margin-top: 3rem;
  background-color: #3c096c;
  padding: 10px 20px 10px 20px;
  border-radius: 0.5rem;
}
.menu-btn:hover {
  border: 3px solid white;
  cursor: pointer;
  border-radius: 0.5rem;
}
